:root{
  --font-family: 'Encode Sans Expanded', sans-serif;
  --bg-main:#638a99;
  --bg-home:#4f7484:
}
body {
  margin: 0;
  background-image: url('./assests/images/bg.jpg');
  font-family: var(--font-family) !important;

 
}
.person {
  position: relative;
  overflow: hidden;
}
.dash{
  background-color: rgba(210, 223, 226, 0.44);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
}

.person:hover .overlay {
  opacity: 1;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
 
  transform: translate(-50%, -50%);
}


@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
.nav-link{
  color: white !important;
}
.active {
  color: black !important;
  /*Textcolor*/background-color: #eee;
  /*Backgroundcolor*/border-radius: 5px;
  /*Roundedcorners*/padding: 0.5rem 1rem;
  /*Padding*/font-weight: bold;
  /*Boldtext*/transition: background-color 0.3s ease, color 0.3s ease;
   /* Smooth transition */
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
}
.bg-main{
  background-color: var(--bg-main) !important;
  color: #fff !important;
font-weight: bold;
}
.description
{
  color: #fff !important;
  font-weight: bold;
}
.dashboard-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.count {
  margin-bottom: 1rem;
}

.btn {
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
}

.btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
